*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
   background-image: url(campo.jpg);
   background-size: 100%;
}

header{
    align-items: center;

    display: flex;
    justify-content: space-around;


}
section{
    display: flex;
    color: rgb(0, 0, 0);
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}


